/* test css */
td img{
    width: 100px;
}
body{
  overflow-x: hidden;
}
@media screen  and (max-width: 500px) {
    td img{
        width: 50px;
        height: 80px;
    }
    .container{
        margin: 0px;
        padding: 10px;
    }
}
@media screen  and (max-width: 400px){
    td img{
        width: 30px;
        height: 50px;
    }
}