extend ../../layout/index.pug
block content
    h1 View user
    p(style="font-size: 30px") Name: 
     span(style="font-size: 25px")= product.name
    p(style="font-size: 30px") Create date: 
     span(style="font-size: 25px")=date