extend ../../layout/index.pug
block content
        h1 Update User
        if errors
         each error in errors
          .alert.alert-danger=error

        form(action="/users/update/"+user._id method="POST" enctype="multipart/form-data")
            .form-group
                label(for="email") Email
                input(type="email" name="email" id="email" class="form-control" disabled value= user?user.email:'')
            .form-group
                label(for="pass") Password
                input(type="password" name="password" id="pass" class="form-control" value= user?user.password:'')
            .form-group
                label(for="name") Name
                input(type="text" name="name" id="name" class="form-control" value= user?user.name:'')
            .form-group
                label(for="phone") Phone Number
                input(type="number" name="phone" id="phone" class="form-control" value= user?user.phone:'') 
            .form-group
                label(for="oldAvatar") Old Avatar
                br
                img(src=user.avatar, alt="" width="60px")
            .form-group
                label(for="avatar") New Avatar
                input(type="file" name="avatar" id="avatar" class="form-control-file") 
            button.btn.btn-primary.mt-2 Update